In [1]:
import pandas as pd
import numpy as np

In [3]:
sets_df = pd.read_csv("sets.csv")

In [4]:
themes_df = pd.read_csv("themes.csv")

In [5]:
colors_df = pd.read_csv("colors.csv")

In [7]:
sets_df.columns

Index(['set_num', 'name', 'year', 'theme_id', 'num_parts'], dtype='object')

In [8]:
themes_df.columns

Index(['id', 'name', 'parent_id'], dtype='object')

In [9]:
colors_df.columns

Index(['id', 'name', 'rgb', 'is_trans'], dtype='object')

# The knowledge we seek

1) What is the most enormous LEGO set ever created and how many parts did it have?

2) In which year were the first LEGO sets released and how many sets did the company sell when it first launched?

3) Which LEGO theme has the most sets? Is it Harry Potter, Ninjago, Friends or something else?

4) When did the LEGO company really take-off based on its product offering? How many themes and sets did it release every year?

5) Did LEGO sets grow in size and complexity over time? Do older LEGO sets tend to have more or fewer parts than newer sets?

In [15]:
# How many unique colors do we have
colors_df.name.values # All the actual noted colors

array(['Unknown', 'Black', 'Blue', 'Green', 'Dark Turquoise', 'Red',
       'Dark Pink', 'Brown', 'Light Gray', 'Dark Gray', 'Light Blue',
       'Bright Green', 'Light Turquoise', 'Salmon', 'Pink', 'Yellow',
       'White', 'Light Green', 'Light Yellow', 'Tan', 'Light Violet',
       'Glow In Dark Opaque', 'Purple', 'Dark Blue-Violet', 'Orange',
       'Magenta', 'Lime', 'Dark Tan', 'Bright Pink', 'Medium Lavender',
       'Lavender', 'Trans-Black IR Lens', 'Trans-Dark Blue',
       'Trans-Green', 'Trans-Bright Green', 'Trans-Red', 'Trans-Black',
       'Trans-Light Blue', 'Trans-Neon Green', 'Trans-Very Lt Blue',
       'Trans-Dark Pink', 'Trans-Yellow', 'Trans-Clear', 'Trans-Purple',
       'Trans-Neon Yellow', 'Trans-Neon Orange', 'Chrome Antique Brass',
       'Chrome Blue', 'Chrome Green', 'Chrome Pink', 'Chrome Black',
       'Very Light Orange', 'Light Purple', 'Reddish Brown',
       'Light Bluish Gray', 'Dark Bluish Gray', 'Medium Blue',
       'Medium Green', 'Speckle Black-Copper', 'Speckle DBGray-Silver',
       'Light Pink', 'Light Flesh', 'Milky White', 'Metallic Silver',
       'Metallic Green', 'Metallic Gold', 'Medium Dark Flesh',
       'Dark Purple', 'Dark Flesh', 'Royal Blue', 'Flesh', 'Light Salmon',
       'Violet', 'Blue-Violet', 'Glitter Trans-Dark Pink', 'Medium Lime',
       'Glitter Trans-Clear', 'Aqua', 'Light Lime', 'Light Orange',
       'Glitter Trans-Purple', 'Speckle Black-Silver',
       'Speckle Black-Gold', 'Copper', 'Pearl Light Gray', 'Metal Blue',
       'Pearl Light Gold', 'Trans-Medium Blue', 'Pearl Dark Gray',
       'Pearl Very Light Gray', 'Very Light Bluish Gray',
       'Yellowish Green', 'Flat Dark Gold', 'Flat Silver', 'Trans-Orange',
       'Pearl White', 'Bright Light Orange', 'Bright Light Blue', 'Rust',
       'Bright Light Yellow', 'Trans-Pink', 'Sky Blue',
       'Trans-Light Purple', 'Dark Blue', 'Dark Green',
       'Glow In Dark Trans', 'Pearl Gold', 'Dark Brown', 'Maersk Blue',
       'Dark Red', 'Dark Azure', 'Medium Azure', 'Light Aqua',
       'Olive Green', 'Chrome Gold', 'Sand Red', 'Medium Dark Pink',
       'Earth Orange', 'Sand Purple', 'Sand Green', 'Sand Blue',
       'Chrome Silver', 'Fabuland Brown', 'Medium Orange', 'Dark Orange',
       'Very Light Gray', 'Glow in Dark White', 'Medium Violet',
       'Glitter Trans-Neon Green', 'Glitter Trans-Light Blue',
       'Trans Flame Yellowish Orange', 'Trans Fire Yellow',
       'Trans Light Royal Blue', 'Reddish Lilac', '[No Color]'],
      dtype=object)

In [18]:
print(f"Number of unique colors: {len(colors_df.name.unique())}")

Number of unique colors: 135

In [19]:
colors_df.nunique() # Unique values in each column

id          135
name        135
rgb         124
is_trans      2
dtype: int64

In [20]:
# How many colors are transparent as opposed to opaque

print("Transparency is the property that enables an element to allow light to pass through, making it see-through or partially visible ")

Transparency is the property that enables an element to allow light to pass through, making it see-through or partially visible

In [21]:
print("Opaque objects absorb some or no light")

Opaque objects absorb some or no light

In [22]:
colors_df.head()

   id            name     rgb is_trans
0  -1         Unknown  0033B2        f
1   0           Black  05131D        f
2   1            Blue  0055BF        f
3   2           Green  237841        f
4   3  Dark Turquoise  008F9B        f

In [29]:
print("Find below the number of transparent and opaque colors:")
colors_df.is_trans.value_counts()

Find below the number of transparent and opaque colors:

f    107
t     28
Name: is_trans, dtype: int64

## What year was the first lego set released and what were these sets called?